<p style="text-align: center">Tu contraseña de acceso a la plataforma es:
    <strong style="margin-top: 25px; line-height: 65px; font-size: 40px; display: block;color: #7D42F4">
        <%= @password %>
    </strong>
</p>

<p style="text-align: center">
    Recuerda que esta contraseña es válida por 3 minutos.
    <br>
    Contáctanos si tienes alguna pregunta o necesitas asistencia.
</p>

<br>

<p style="text-align: center; margin-bottom:0">                        
Cordialmente,<br>
El Equipo de Aplicación de estudios FirstJob
</p>