<p style="text-align: center">Tu contrase침a de acceso a la plataforma es:
    <strong style="margin-top: 25px; line-height: 65px; font-size: 40px; display: block;color: #7D42F4">
        <%= @password %>
    </strong>
</p>

<p style="text-align: center">
    Recuerda que esta contrase침a es v치lida por 3 minutos.
    <br>
    Cont치ctanos si tienes alguna pregunta o necesitas asistencia.
</p>

<br>

<p style="text-align: center; margin-bottom:0">                        
Cordialmente,<br>
El Equipo de FirstJob
</p>