<!--begin::Table widget 14-->
<div class="card card-flush h-md-100">
	<!--begin::Header-->
	<div class="card-header pt-7">
		<!--begin::Title-->
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">ENCUESTAS ACTIVAS</span>
			<%# <span class="text-gray-400 mt-1 fw-semibold fs-6">Updated 37 minutes ago</span> %>
		</h3>
		<!--end::Title-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-6">
		<!--begin::Table container-->
		<div class="table-responsive overflow-x-auto">
			<!--begin::Table-->
			<table class="table table-row-dashed align-middle gs-0 gy-3 my-0">
				<!--begin::Table head-->
				<thead>
					<tr class="fs-7 fw-bold text-gray-400 border-bottom-0">
						<%# <th class="p-0 pb-3 w-25px text-start"></th> %>
						<th class="p-0 pb-3 w-50px min-w-50px text-center">EMPRESA</th>
						<th class="p-0 ps-2 pb-3 w-100px min-w-100px text-center">ESTUDIO</th>
						<th class="p-0 ps-2 pb-3 w-50px min-w-50px text-center">PAÍS</th>
						<th class="p-0 ps-2 pb-3 w-100px min-w-100px text-center text-break">MUESTRA MINÍMA</th>
						<th class="p-0 ps-2 pb-3 w-100px min-w-100px text-center">RESPUESTAS</th>
						<th class="p-0 ps-2 pb-3 w-100px min-w-100px text-center text-break">PENDIENTES</th>
						<th class="p-0 pb-3 w-125px min-w-125px text-center ps-1 pe-7 text-break">ÚLTIMA ACTUALIZACIÓN</th>
					</tr>
				</thead>
				<!--end::Table head-->
				<!--begin::Table body-->
				<% if @status_watcher_surveys.size > 0 %>
					<tbody>
						<% @status_watcher_surveys.each do |sws| %>
							<%= render partial: 'partials/pages/dashboards/survey', collection: sws['surveys'], as: :survey, locals: { client: sws['client'] } %>
						<% end %>
					</tbody>
				<% end %>
				<!--end::Table body-->
			</table>
		</div>
		<!--end::Table-->
		<% if @status_watcher_surveys.size == 0 %>
			<!--begin::Alert-->
			<div class="alert alert-danger d-flex align-items-center p-2 mb-10 mt-10">
				<!--begin::Icon-->
				<i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>                    
				<!--end::Icon-->

				<!--begin::Wrapper-->
				<div class="d-flex flex-column">
				<!--begin::Content-->
				<span>Aún no tienes encuestas asociadas</span>
				<!--end::Content-->
				</div>
				<!--end::Wrapper-->

				<!--begin::Close-->
				<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
				<i class="ki-duotone ki-cross fs-1 text-light"><span class="path1"></span><span class="path2"></span></i>
				</button>
				<!--end::Close-->
			</div>
			<!--end::Alert-->
		<% end %>
	</div>
	<!--end: Card Body-->
</div>
<!--end::Table widget 14-->
